@charset "UTF-8";
html {
  font-family: 10px;
}

body {
  width: 100%;
  height: 2510px;
  background-image: url(../images/МС.svg);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* font-size: 1.6rem; */
  font-family: "Noto Sans";
}

h1 {
  font-family: Century Gothic;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 38px;
}

h3 {
  font-family: Noto Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin: -1px 0px 0px -5px;
}

h2 {
  font-family: Century Gothic;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}

h4 {
  font-family: Noto Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-align: center;
}

.layout-3-colom {
  display: flex;
  justify-content: space-around;
}

.toll1 {
  width: 410px;
  box-shadow: 0px 0px 25px 0px rgba(142, 160, 173, 0.3490196078);
  background: linear-gradient(90deg, #FBFDFF 0%, #D8EFFF 100.86%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tool__text {
  width: 372px;
  font-family: Noto Sans;
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 15px 0px 0px 24px;
}

.tool-icon-1 {
  padding: 9px 0px 0px 24px;
}

.Inhibits1 {
  font-family: Noto Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0px 7px 22px 31px;
  margin-top: 23px;
}

.toll2 {
  width: 410px;
  box-shadow: 0px 0px 25px 0px rgba(142, 160, 173, 0.3490196078);
  background: linear-gradient(90deg, #FBFDFF 0%, #D8EFFF 100.86%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tool__text2 {
  margin: 22px 0px 0px -14px;
  font-family: Noto Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.077em;
  text-align: center;
}

.Inhibits2 {
  font-family: Noto Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  padding: 4px 19px 22px 7px;
  margin-top: 21px;
}

.toll3 {
  width: 410px;
  box-shadow: 0px 0px 25px 0px rgba(142, 160, 173, 0.3490196078);
  background: linear-gradient(90deg, #FBFDFF 0%, #D8EFFF 100.86%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tool-icon3 {
  margin: 5px 0px 0px -56px;
}

.tool__text3 {
  font-family: Noto Sans;
  font-size: 28px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 11px 0px 0px -55px;
}

.glucocorticosteroid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Inhibits3 {
  font-family: Noto Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  margin: 17px 47px 0px -6px;
}

.layout-2-colom {
  display: flex;
  padding-top: 40px;
  justify-content: space-around;
  align-items: center;
}

.content-text {
  font-family: Noto Sans;
  font-size: 23px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-align: left;
}

.left {
  box-shadow: 0px 0px 25px 0px rgba(142, 160, 173, 0.3490196078);
  background: linear-gradient(90deg, #FBFDFF 0%, #D8EFFF 100.86%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 630px;
  height: 400px;
}

.left_content {
  width: 550px;
  height: 343px;
  font-family: Noto Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.content-text {
  font-family: Noto Sans;
  font-size: 23px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
}

.complements {
  padding-bottom: 2px;
}

.right {
  box-shadow: 0px 0px 25px 0px rgba(142, 160, 173, 0.3490196078);
  background: linear-gradient(90deg, #FBFDFF 0%, #D8EFFF 100.86%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 630px;
  height: 390px;
}

.right__content-text {
  margin: 47px 5px 7px -35px;
  width: 550px;
  height: 330px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.06em;
  text-align: left;
}

.tabl {
  border-radius: 30px;
  top: -22%;
  left: 33px;
  position: absolute;
  width: 1290px;
  height: 750px;
  background: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  display: none;
}

.tabl__content {
  padding: 30px 0px 30px 0px;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  width: 1209px;
}

.tabl__text-top {
  padding: 6px 6px 6px 6px;
  font-family: Noto Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.02em;
  text-align: left;
}

.tabl__text-bottom {
  padding: 6px 6px 6px 6px;
  font-family: Noto Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.01em;
  text-align: left;
}

.diogramm {
  width: 1211px;
  height: 396px;
  padding: 0px 0px 0px 0px;
}

.wraper__container {
  padding: 0px 20px 0px 20px;
  width: 1380px;
  margin: 0 auto;
  box-shadow: 0px 0px 25px 0px rgba(142, 160, 173, 0.3490196078);
  height: 2225px;
}

header {
  position: relative;
}

.header__start {
  margin: -23px 0px 0px 0px;
}

.header__navigation {
  padding: 70px 51px 4px 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  /* width:767px ; */
}

.navigation__tiile {
  margin: -36px 0px 0px 14px;
  width: 767px;
  font-family: Noto Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.title__p {
  padding: 38px 0px 20px 6px;
}

.arrow_title {
  margin: 9px 0px 0px -1px;
}

.title_b {
  letter-spacing: 0.055em;
}

.img__top {
  position: absolute;
  z-index: -1;
  top: -1%;
}

.mans__advantage {
  flex-wrap: wrap;
  /* box-shadow: 0px 0px 25px 0px #8EA0AD59; */
  box-shadow: 0px 0px 25px 0px rgba(142, 160, 173, 0.3490196078);
  height: 194.5px;
  padding-left: 28px;
  gap: 13px;
  align-items: center;
  display: flex;
  border: 1px solid #01457A;
  border-radius: 20px;
  background: white;
  z-index: 1;
}

.man {
  margin: -34px 0px 0px 11px;
}

.danger {
  position: relative;
  box-shadow: 0px 0px 25px 0px rgba(142, 160, 173, 0.3490196078);
  gap: 13px;
  height: 206px;
  padding-left: 14px;
  align-items: center;
  display: flex;
  border: 1px solid #01457A;
  border-radius: 20px;
}

.bander_img {
  padding-right: 10px;
}

.danger-img {
  margin: -52px 0px 0px 21px;
}

.arrow {
  margin: -8px -5px 0px 0px;
  padding: 2px;
  width: 295px;
  height: 113px;
  background-image: url(../images/Group\ 3.svg);
}

.blue__head {
  position: absolute;
  top: 20.1%;
  right: 29px;
  background-image: url("../images/head.svg");
  width: 48.26px;
  height: 48.26px;
  border-radius: 50%;
  border: none;
}

.blue__head:hover {
  cursor: pointer;
}

.green__head {
  position: absolute;
  top: -13%;
  right: -27px;
  background-image: url("../images/Group 117.svg");
  width: 48.26px;
  height: 48.26px;
  border-radius: 50%;
  border: none;
}

.green__head:hover {
  cursor: pointer;
}

.color__line {
  margin: 83px 20px 0px 12px;
  border-radius: 20px;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  background: linear-gradient(90deg, #FDD966 0%, #BCD77E 68.54%);
}

.even {
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Noto Sans;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.05em;
  text-align: center;
}

.priorities {
  padding: 8px;
}

.main {
  padding: 30px;
  position: relative;
}

.img__bottum {
  position: absolute;
  top: 22%;
  z-index: -1;
  left: 0%;
}

.copd {
  padding: 62px 0px 0px 9px;
}

/* .icon-ingalation icon-ingalation_one {
  background-image: url('./images/Group\ 1.jpg');
  width: 178px; 
  height: 145px;
} *//*# sourceMappingURL=style.css.map */