$color-title: #01457A;
$color-mix:linear-gradient(90deg, #FDD966 0%, #BCD77E 68.54%);
$color-backgraund: linear-gradient(90deg, #FBFDFF 0%, #D8EFFF 100.86%);
$color-card-active: #FDD96640 25%;


$content-max:1920px;
$tablet-width:1290px;
$mobile-big-width:768px;
$mobile-small-width:320px;



