$color-title:#01457A;
$color-mix:linear-gradient(90deg, #FDD966 0%, #BCD77E 68.54%);
$color-backgraund: linear-gradient(90deg, #FBFDFF 0%, #D8EFFF 100.86%);
$color-card-active: #FDD96640 25%;


$content-width:1024px;
$tablet-width:768px;
$mobile-big-width:414px;
$mobile-small-width:320px;



